.farmToTable_section{
    margin: 3rem auto;
    .btn{
        border: none;
        background-color: #fc7525;
    }
    .load_button{
        background-color: #afafaf;
    }
}
.img-wrapper{
        &:hover div{
            display: flex;          
        }
        div{
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            color: white;
            display: none;
            background: linear-gradient(180deg, #d5401792,#fc7525);
            button{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                aspect-ratio: 1/1;
            }
        }        
    }
.ad_text{
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        width: 40%;
    }
    .Singapore_text{
        top: 50%;
        left: 0%;
        background-color: rgba(0, 0, 0, 0.718);
        padding: 0.75rem 1.5rem;
}
.city_guides{
    background-color: #fc7525;
}
.orange_text{
    color:#fc7525;
    font-family: 'Playfair Display', serif;
}
.socials_right{
    li{
        border: none;
        background-color: transparent;
    }
}
.popular, .recent{
    border: 1px solid #afafaf;
    font-size: 1.2rem;
}
.col-8{
    font-family: 'Playfair Display', serif;
}
.popular_posts{
    img{
        border-radius: 50%;
        width: 55px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
}
