.foodiejournal_section{
    font-family: 'Playfair Display', serif;
    background-color: white;
    margin-top: -3rem;
    margin-bottom: 2rem;
    .img-wrapper{
        &:hover div{
            display: flex;          
        }
        div{
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            color: white;
            display: none;
            background: linear-gradient(180deg, #d5401792,#fc7525);
            button{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                aspect-ratio: 1/1;
            }
        }        
    }
    .stick{
    width: 34rem;
    height: 1px;
    background-color: rgb(163, 161, 161);
}
}

