
.jumbo_bg{
    z-index: -1;
    justify-content: center;
    display: flex;
    background-image: url(../../../assets/img/single-post-img3-1200x790.jpg);
    background-size: cover;
    background-position: center;
    height: 650px;
    .little_cards{
        top: 0;
        right: 1%;
        transform: translate(0, -75%);
        div{
            width: 65px;
            aspect-ratio: 1/1;            
            box-shadow: 0 0 10px 0 rgb(22, 53, 63);
            margin: 0.25rem 0;
            span{
                font-size: 10px;
                vertical-align: super;
            }
        }
    }   
    .jumbo_text{
        padding: 2rem;
        background-color: white;
        width: 60%;
        margin: auto;
        font-family: 'Playfair Display', serif;
        
        .jumbo_pin{
            padding: 0 1rem;
            margin-top: -3rem;
            background-color: #fc7525;
            color:white;
            h6{
                margin-bottom: 0;
            }
    }
        h2{
            font-size: 4rem;
        }
    }
}